
#root {
  margin: 0 ;
  text-align: center;
height: 100vh;
display: flex;
justify-content: center;}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #edcdac;
  justify-content: center;
  align-items: center;
  
}

.App {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  justify-content: center;
}

.display {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.text-output {
  min-height: 400px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 1rem;
  padding: 1.5rem;
  font-weight: 600;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  transition: all 0.3s ease;
  overflow-wrap: break-word;
}

.text-output:hover {
  background: rgba(255, 255, 255, 0.9);
}

.command-center {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.languages {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.languages button {
  background: linear-gradient(135deg, #fbbb8e, #4f2323);
  border: none;
  border-radius: 0.5rem;
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s ease;
}

.languages button:hover {
  transform: scale(1.1);
}

.style-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}

.style-buttons h5 {
  margin: 0.5rem 0;
  color: #222;
  font-size: 1rem;
}

.style-buttons button {
  background-color: #936561;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 0.5rem;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
  transition: 0.3s ease;
  margin: 0.5rem;
}

.style-buttons button:hover {
  transform: scale(1.1);
    background: #f1a0f0; 
}

.fontButtons,.sizeButtons,.colorButtons{
  display: flex;
  flex-direction: row;
}
.keyboard {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.3rem; 
  padding: 0.5rem 0; 
}

.keyboard button {
  background: #936561;
  border: none;
  border-radius: 0.3rem; 
  color: white;
  padding: 0.5rem 0.8rem; 
  cursor: pointer;
  font-size: 0.9rem; 
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); 
  transition: all 0.2s ease; 
  margin: 2px;
}

.keyboard button:hover {
  transform: none; 
  background: #f1a0f0; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}
  @media (max-width: 768px) {
    .style-buttons,
    .languages {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .text-output {
      font-size: 1.2rem;
    }
  }